<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.onesignal.background.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>God Moments</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_metro._tcp</string>
		<string>_http._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>God Moments would like to find and connect to devices on your local network.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>God Moments uses your location to provide location-based features and services.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>God Moments needs access to your photo library to allow you to select and share images within the app.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>OneSignalAppID</key>
	<string>2613c87d-4f81-4094-bd84-08495e68bda0</string>
	<key>OneSignalAppId</key>
	<string>2613c87d-4f81-4094-bd84-08495e68bda0</string>
	<key>OneSignal_app_id</key>
	<string>2613c87d-4f81-4094-bd84-08495e68bda0</string>
	<key>OneSignal_notificationServiceExtensionTarget</key>
	<string>OneSignalNotificationServiceExtension</string>
	<key>OneSignal_swizzler_remote</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Newsreader-Italic-VariableFont_opsz,wght.ttf</string>
		<string>Newsreader-VariableFont_opsz,wght.ttf</string>
		<string>Newsreader_14pt-Bold.ttf</string>
		<string>Newsreader_14pt-BoldItalic.ttf</string>
		<string>Newsreader_14pt-ExtraBold.ttf</string>
		<string>Newsreader_14pt-ExtraBoldItalic.ttf</string>
		<string>Newsreader_14pt-ExtraLight.ttf</string>
		<string>Newsreader_14pt-ExtraLightItalic.ttf</string>
		<string>Newsreader_14pt-Italic.ttf</string>
		<string>Newsreader_14pt-Light.ttf</string>
		<string>Newsreader_14pt-LightItalic.ttf</string>
		<string>Newsreader_14pt-Medium.ttf</string>
		<string>Newsreader_14pt-MediumItalic.ttf</string>
		<string>Newsreader_14pt-Regular.ttf</string>
		<string>Newsreader_14pt-SemiBold.ttf</string>
		<string>Newsreader_14pt-SemiBoldItalic.ttf</string>
		<string>Newsreader_24pt-Bold.ttf</string>
		<string>Newsreader_24pt-BoldItalic.ttf</string>
		<string>Newsreader_24pt-ExtraBold.ttf</string>
		<string>Newsreader_24pt-ExtraBoldItalic.ttf</string>
		<string>Newsreader_24pt-ExtraLight.ttf</string>
		<string>Newsreader_24pt-ExtraLightItalic.ttf</string>
		<string>Newsreader_24pt-Italic.ttf</string>
		<string>Newsreader_24pt-Light.ttf</string>
		<string>Newsreader_24pt-LightItalic.ttf</string>
		<string>Newsreader_24pt-Medium.ttf</string>
		<string>Newsreader_24pt-MediumItalic.ttf</string>
		<string>Newsreader_24pt-Regular.ttf</string>
		<string>Newsreader_24pt-SemiBold.ttf</string>
		<string>Newsreader_24pt-SemiBoldItalic.ttf</string>
		<string>Newsreader_36pt-Bold.ttf</string>
		<string>Newsreader_36pt-BoldItalic.ttf</string>
		<string>Newsreader_36pt-ExtraBold.ttf</string>
		<string>Newsreader_36pt-ExtraBoldItalic.ttf</string>
		<string>Newsreader_36pt-ExtraLight.ttf</string>
		<string>Newsreader_36pt-ExtraLightItalic.ttf</string>
		<string>Newsreader_36pt-Italic.ttf</string>
		<string>Newsreader_36pt-Light.ttf</string>
		<string>Newsreader_36pt-LightItalic.ttf</string>
		<string>Newsreader_36pt-Medium.ttf</string>
		<string>Newsreader_36pt-MediumItalic.ttf</string>
		<string>Newsreader_36pt-Regular.ttf</string>
		<string>Newsreader_36pt-SemiBold.ttf</string>
		<string>Newsreader_36pt-SemiBoldItalic.ttf</string>
		<string>Newsreader_60pt-Bold.ttf</string>
		<string>Newsreader_60pt-BoldItalic.ttf</string>
		<string>Newsreader_60pt-ExtraBold.ttf</string>
		<string>Newsreader_60pt-ExtraBoldItalic.ttf</string>
		<string>Newsreader_60pt-ExtraLight.ttf</string>
		<string>Newsreader_60pt-ExtraLightItalic.ttf</string>
		<string>Newsreader_60pt-Italic.ttf</string>
		<string>Newsreader_60pt-Light.ttf</string>
		<string>Newsreader_60pt-LightItalic.ttf</string>
		<string>Newsreader_60pt-Medium.ttf</string>
		<string>Newsreader_60pt-MediumItalic.ttf</string>
		<string>Newsreader_60pt-Regular.ttf</string>
		<string>Newsreader_60pt-SemiBold.ttf</string>
		<string>Newsreader_60pt-SemiBoldItalic.ttf</string>
		<string>Newsreader_9pt-Bold.ttf</string>
		<string>Newsreader_9pt-BoldItalic.ttf</string>
		<string>Newsreader_9pt-ExtraBold.ttf</string>
		<string>Newsreader_9pt-ExtraBoldItalic.ttf</string>
		<string>Newsreader_9pt-ExtraLight.ttf</string>
		<string>Newsreader_9pt-ExtraLightItalic.ttf</string>
		<string>Newsreader_9pt-Italic.ttf</string>
		<string>Newsreader_9pt-Light.ttf</string>
		<string>Newsreader_9pt-LightItalic.ttf</string>
		<string>Newsreader_9pt-Medium.ttf</string>
		<string>Newsreader_9pt-MediumItalic.ttf</string>
		<string>Newsreader_9pt-Regular.ttf</string>
		<string>Newsreader_9pt-SemiBold.ttf</string>
		<string>Newsreader_9pt-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
